$black: #000;
$white: #fff;
$menu-text: #ffffffd9;
$menu-drop-text: #ffffff99;
$selection: rgb(155, 13, 43);
$dark-surface: #1c1c1c;
$text-light: rgb(231, 241, 241);
$border-color: rgb(255, 255, 255, .3);
$up-line: #f51068;
$dark-surface-transparency: rgb(0, 0, 0, .7);
$p-color: #666;
